/* Variables */
* {
  font-family: "Lexend", sans-serif;
  list-style-type: none;
}

nav a {
  color: #232323;
  font-size: 1rem;
  text-decoration: none;
  padding: 5px;
}
nav nav.navbar.navbar-expand-lg.bg-body-tertiary {
  font-family: "Lexend", sans-serif;
  background-color: #EA356C;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
nav .collapse.navbar-collapse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 50px;
  align-content: center;
}
nav button.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: #EA356C;
  background-color: #EA356C;
  border: #EA356C solid;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}
nav button.btn-outline-success {
  --bs-btn-color: $blue;
  --bs-btn-border-color: $blue;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: $blue;
  --bs-btn-hover-border-color: $blue;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: $white;
  --bs-btn-active-bg: $blue;
  --bs-btn-active-border-color: $blue;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: $blue;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: $blue;
}

section.novedades {
  padding: 50px 80px;
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section.novedades div.novedades-cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
section.novedades div.novedades-cards div.card {
  margin: 5px;
}
section.novedades div.novedades-cards p.card-text {
  color: #EA356C;
  font-size: 1.3rem;
}
section.novedades div.novedades-cards p.card-text-2 {
  text-decoration: line-through;
  margin-top: 0;
  margin-bottom: 0rem;
}
section.novedades div.novedades-cards h5.card-title {
  font-size: 1rem;
}
section.novedades div.novedades-cards div.card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.ayuda {
  background-color: #3442DA;
  font-family: "Lexend", sans-serif;
  padding: 80px 120px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
section.ayuda div.div-ayuda {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
section.ayuda a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  justify-content: center;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  color: white;
  background-color: #EA356C;
  padding: 10px 80px;
  margin: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
h2 p {
  font-weight: 400;
  font-size: 1rem;
}
h2 a {
  font-weight: 700;
  font-size: 1rem;
}

h3 {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

h5 {
  font-weight: 400;
}

section.catalogo {
  display: grid;
  grid-template-rows: repeat(9, 0, 5fr);
  grid-template-columns: repeat(4, 1fr);
  margin: 40px;
}
section.catalogo div.catalogo-catalogo {
  grid-row: 1;
  grid-column: 1/3;
  padding: 20px;
}
section.catalogo div.ordenar-por {
  grid-row: 1;
  grid-column: 4;
  padding: 20px;
}
section.catalogo div.filtros {
  grid-row: 2/9;
  grid-column: 1;
  padding: 20px;
}
section.catalogo div.filtros a {
  text-decoration: none;
  color: #EA356C;
}

footer {
  background-color: #232323;
  color: #D9D9D9;
  padding: 50px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
footer div.footer-logo {
  padding-bottom: 20px;
}
footer div.footer-items {
  display: flex;
  flex-wrap: wrap;
}
footer div.footer-item {
  padding: 0px 20px;
}

/*# sourceMappingURL=styles.css.map */
